@model MyCalorieCounter.Models.DailyOverviewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Your Daily Overview For: @Model.Date</h1>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Calories (kcal)
            </th>
            <th>
                Proteins (g)
            </th>
            <th>
                Carbs (g)
            </th>
            <th>
                Fats (g)
            </th>
            <th>
                Weight (g)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Meals != null)
        {
            foreach (var item in Model.Meals)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Calories)</td>
                    <td>@Html.DisplayFor(modelItem => item.Proteins)</td>
                    <td>@Html.DisplayFor(modelItem => item.Carbs)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fats)</td>
                    <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                    <td>
                        <a asp-action="RemoveMeal" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                    </td>
                    <td>
                        <a asp-action="EditMeal" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        }

    </tbody>

</table>
<br />
<br />

<table class="col-5">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proteins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Daily Totals
            </th>
            <th>
                @Model.Calories
            </th>
            <th>
                @Model.Proteins
            </th>
            <th>
                @Model.Carbs
            </th>
            <th>
                @Model.Fats
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                Your Daily Goals
            </th>
            <th>
                @Model.DailyCaloriesGoal
            </th>
            <th>
                @Model.DailyProteinsGoal
            </th>
            <th>
                @Model.DailyCarbsGoal
            </th>
            <th>
                @Model.DailyFatsGoal
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                Remaining
            </th>
            <th>
                @Model.RemainingDailyCalories
            </th>
            <th>
                @Model.RemainingDailyProteins
            </th>
            <th>
                @Model.RemainingDailyCarbs
            </th>
            <th>
                @Model.RemainingDailyFats
            </th>
            <th></th>
        </tr>
    </tbody>
</table>
<br />
<div>
    <a asp-action="UpdateGoals" class="btn btn-success">Update Goals</a>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}